<section id="login-page">

    <demo-info-container id="demo-container" ng-if="utils.isDemo"></demo-info-container>

    <div ng-class="{ loading: loading }" class="container login-container">
        <form ng-submit="submit()" ed-login-register-validator>

            <a ui-sref="home"><img src="assets/images/logo_dark.png" alt="logo" class="logo"></a>

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <div class="message"></div>
            </div>

            <div class="form-group">
                <input class="form-control" name="email" placeholder="{{:: 'email' | translate }}" type="text" ng-model="credentials.email">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="{{:: 'password' | translate }}" name="password" ng-model="credentials.password">
                <div class="forgot-password" ng-click="showPasswordResetModal($event)">{{:: 'forgot' | translate }}</div>
            </div>

            <section class="clearfix">
                <div class="pull-left">
                    <md-checkbox ng-model="credentials.remember" class="md-primary">{{:: 'rememberMe' | translate }}</md-checkbox>
                </div>
                <div class="pull-right" ng-controller="SocialLoginController">
                    <md-button type="submit" class="md-primary md-raised">{{:: 'login' | translate }}</md-button>
                </div>
            </section>

            <p ng-if="utils.getSetting('enableRegistration', true)">{{:: 'noAccount' | translate }} <a ui-sref="register">{{ 'registerHere' | translate }}</a> {{:: 'orLoginWith' | translate }}</p>

            <div class="social-icons" ng-controller="SocialLoginController" ng-if="utils.getSetting('enableRegistration', true)">
                <div ng-click="loginWith('facebook')" class="social-icon facebook" ed-tooltip="{{:: 'loginWithFacebook' | translate }}"></div>
                <div ng-click="loginWith('google')" class="social-icon googleplus" ed-tooltip="{{:: 'loginWithGoogle' | translate }}"></div>
                <div ng-click="loginWith('twitter')" class="social-icon twitter" ed-tooltip="{{:: 'loginWithTwitter' | translate }}"></div>
            </div>
            <div class="loader" ng-show="loading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        </form>
    </div>
</section>

<script type="text/ng-template" id="assets/views/modals/request-email-modal.html">
    <md-dialog class="md-modal md-modal-wide request-email-modal">
        <div class="md-modal-header">
            <h1>{{ 'enterYourTwitterEmail' | translate }}</h1>
            <div ng-click="closeModal()" class="md-close-modal"><i class="icon icon-cancel"></i></div>
        </div>
        <md-input-container>
            <label>{{ 'email' | translate }}</label>
            <input type="email" ng-model="credentials.email">
        </md-input-container>

        <div class="buttons">
            <md-button ng-click="closeModal()">{{ 'cancel' | translate }}</md-button>
            <md-button ng-click="createAndLoginUser()" ng-disabled="!credentials.email" class="md-primary md-raised">{{ 'login' | translate }}</md-button>
        </div>
    </md-dialog>
</script>

<script type="text/ng-template" id="assets/views/modals/request-password-modal.html">
    <md-dialog class="md-modal md-modal-wide limit-width request-password-modal">
        <div class="md-modal-header">
            <h1>{{ 'enterYourPassword' | translate }}</h1>
            <div ng-click="closeModal()" class="md-close-modal"><i class="icon icon-cancel"></i></div>
        </div>

        <div class="sub-header">{{:: 'requestPassword' | translate }}</div>

        <md-input-container>
            <label>{{ 'password' | translate }}</label>
            <input type="password" ng-model="credentials.password">
            <div ng-if="errorMessage" class="md-modal-error" style="order: 2">{{ errorMessage }}</div>
        </md-input-container>

        <div class="buttons">
            <md-button ng-click="closeModal()">{{ 'cancel' | translate }}</md-button>
            <md-button ng-click="connectAccounts()" ng-disabled="!credentials.password" class="md-primary md-raised">{{ 'connect' | translate }}</md-button>
        </div>
    </md-dialog>
</script>

<script type="text/ng-template" id="modals/resetPassword.html">
    <md-dialog class="md-modal md-modal md-modal-wide password-reset-modal">
        <div class="md-modal-header">
            <h1>{{:: 'passwordRecovery' | translate }}</h1>
            <div ng-click="closePasswordResetModal()" class="md-close-modal"><i class="icon icon-cancel"></i></div>
        </div>
        <md-input-container>
            <label>{{:: 'email' | translate }}</label>
            <input type="email" ng-model="passResetCredentials.email">
            <div class="md-modal-error">{{ resetPasswordError }}</div>
            <div class="md-modal-info" ng-if="!resetPasswordError">{{:: 'passResetExpl' | translate }}</div>
        </md-input-container>

        <div class="buttons">
            <md-button ng-click="closePasswordResetModal()">{{ 'cancel' | translate }}</md-button>
            <md-button ng-click="resetPassword()" ng-disabled="!passResetCredentials.email" class="md-primary md-raised">{{ 'sendEmail' | translate }}</md-button>
        </div>
    </md-dialog>
</script>