APP_ENV=local
APP_DEBUG=true
APP_KEY=zs1T4o9Tuo5KPrZt0kkLjk44dSb3nhJs

DB_HOST=localhost
DB_DATABASE=drive
DB_USERNAME=root
DB_PASSWORD=null
DB_PREFIX=null

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

FILESYSTEM_DEFAULT=local

MAIL_DRIVER=mandrill
MANDRILL_API_KEY=null

STRIPE_SECRET_KEY=null

BASE_URL=http://localhost:3000

GOOGLE_ID=null
GOOGLE_SECRET=null

TWITTER_ID=null
TWITTER_SECRET=null

FACEBOOK_ID=null
FACEBOOK_SECRET=null

INSTALLED=0

#END


