<md-dialog class="md-modal md-modal-wide user-modal">
	<div class="md-modal-header">
		<h1>{{:: 'updateUser' | translate }}</h1>
		<div ng-click="users.closeModal()" class="md-close-modal"><i class="mdi mdi-close"></i></div>
	</div>
	<form ng-submit="ctrl.parent.updateUser()">

		<div class="errors">
			<div class="error" ng-repeat="error in errors">{{ error }}</div>
		</div>

		<md-input-container class="md-block">
			<label for="email">{{:: 'email' | translate }}</label>
			<input id="email" type="email" ng-model="ctrl.parent.userModel.email">
		</md-input-container>

		<md-input-container class="md-block">
			<label for="username">{{:: 'username' | translate }}</label>
			<input id="username" type="text" ng-model="ctrl.parent.userModel.username">
		</md-input-container>

		<div class="inline-inputs">
			<md-input-container flex class="md-block">
				<label for="password">{{:: 'password' | translate }}</label>
				<input id="password" type="password" ng-model="ctrl.parent.userModel.password">
			</md-input-container>

			<md-input-container flex class="md-block">
				<label for="repeatPassword">{{:: 'repeatPassword' | translate }}</label>
				<input id="repeatPassword" type="password" ng-model="ctrl.parent.userModel.password_confirmation">
			</md-input-container>
		</div>

		<div class="inline-inputs">
			<md-input-container flex class="md-block">
				<label for="first_name">{{:: 'firstName' | translate }}</label>
				<input id="first_name" type="text" ng-model="ctrl.parent.userModel.first_name">
			</md-input-container>

			<md-input-container flex class="md-block">
				<label for="last_name">{{:: 'lastName' | translate }}</label>
				<input id="last_name" type="text" ng-model="ctrl.parent.userModel.last_name">
			</md-input-container>
		</div>

		<md-select placeholder="Gender" ng-model="ctrl.parent.userModel.gender">
			<md-option value="male" translate>male</md-option>
			<md-option value="female" translate>female</md-option>
		</md-select>

		<md-input-container class="md-block">
			<label for="space_available">{{:: 'spaceAvailable' | translate }}</label>
			<input id="space_available" type="text" ng-model="ctrl.parent.userModel.space_available">
		</md-input-container>

		<div class="buttons">
			<md-button type="button" ng-click="ctrl.parent.users.closeModal()">{{:: 'cancel' | translate }}</md-button>
			<md-button type="submit" class="md-primary md-raised">{{:: 'update' | translate }}</md-button>
		</div>
	</form>
</md-dialog>